<form class="{{cssClass}} fichaRune" autocomplete="off">
    <div class="rune_name"><h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1></div>
    <div></div>
    <div></div>
    <div class="rune_imagen">
        <img src="{{item.img}}" data-edit="img" title="{{name}}"/>
    </div>
    <div></div>
    <div></div>
    <div class="Bonus_title"><h1>Bonus to Stats</h1></div>
    <div  class="RuneInfo">
        <h2><label for="system.Bonus.Power">Power</label></h2>
        <input name="system.Bonus.Power" type="number" value="{{item.system.Bonus.Power}}"/>
    </div>
    <div  class="RuneInfo">
        <h2><label for="system.Bonus.Aim">Aim</label></h2>
        <input name="system.Bonus.Aim" type="number" value="{{item.system.Bonus.Aim}}"/>
    </div>
    <div  class="RuneInfo">
        <h2><label for="system.Bonus.Wits">Wits</label></h2>
        <input name="system.Bonus.Wits" type="number" value="{{item.system.Bonus.Wits}}"/>
    </div>
    <div  class="RuneInfo">
        <h2><label for="system.Bonus.Guts">Guts</label></h2>
        <input name="system.Bonus.Guts" type="number" value="{{item.system.Bonus.Guts}}"/>
    </div>
    <div  class="RuneInfo">
        <h2><label for="system.Bonus.Speed">Speed</label></h2>
        <input name="system.Bonus.Speed" type="number" value="{{item.system.Bonus.Speed}}"/>
    </div>
    <div  class="RuneInfo">
        <h2><label for="system.Bonus.Resolve">Resolve</label></h2>
        <input name="system.Bonus.Resolve" type="number" value="{{item.system.Bonus.Resolve}}"/>
    </div>
    <div class="rune_editor">
        {{editor item.system.Description target="system.Description" button=true owner=owner editable=true}}
    </div>        
</form>