<form class="{{cssClass}} fichaSkill" autocomplete="off">
    <div class="skill_name"><h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1></div>
    <div  class="skillInfo">
        <h2><label for="system.Level">Level</label></h2>
        <input name="system.Level" type="number" value="{{item.system.Level}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Advance">Advance</label></h2>
        <input name="system.Advance" type="number" value="{{item.system.Advance}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Difficulty">Difficulty</label></h2>
        <input name="system.Difficulty" type="number" value="{{item.system.Difficulty}}"/>
    </div>
    <div  class="skillInfo statroll">
        <h2><label for="system.Stat_Roll.value">Stat Roll?</label></h2>
        <input name="system.Stat_Roll.value" type="checkbox" value="{{item.system.Stat_Roll.value}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Stat_Roll.Stat">Stat</label></h2>
        <input name="system.Stat_Roll.Stat" type="text" value="{{item.system.Stat_Roll.Stat}}"/>
    </div>
    <div  class="skillInfo">
    </div>
    <div class="Bonus_title"><h1>Bonus to Stats</h1></div>
    <div  class="skillInfo">
        <h2><label for="system.Bonus">Power</label></h2>
        <input name="system.Bonus.Power" type="number" value="{{item.system.Bonus.Power}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Bonus.Aim">Aim</label></h2>
        <input name="system.Bonus.Aim" type="number" value="{{item.system.Bonus.Aim}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Bonus.Wits">Wits</label></h2>
        <input name="system.Bonus.Wits" type="number" value="{{item.system.Bonus.Wits}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Bonus.Guts">Guts</label></h2>
        <input name="system.Bonus.Guts" type="number" value="{{item.system.Bonus.Guts}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Bonus.Speed">Speed</label></h2>
        <input name="system.Bonus.Speed" type="number" value="{{item.system.Bonus.Speed}}"/>
    </div>
    <div  class="skillInfo">
        <h2><label for="system.Bonus.Resolve">Resolve</label></h2>
        <input name="system.Bonus.Resolve" type="number" value="{{item.system.Bonus.Resolve}}"/>
    </div>
    <div class="skill_editor">
        {{editor item.system.Description target="system.Description" button=true owner=owner editable=true}}
    </div>        
</form>